.explainText{
    letter-spacing: 1px;
    margin-left: 220px;
    border: none;
    background: transparent;
    color: #ffffff;
    width: 90px;
    font-size: 26px;
    line-height: 70px;
}
header{
    margin-bottom: 26px;
}
.certificate{
    height: 166px;
    width: 750px;
    letter-spacing: 2px;
    border-bottom: 1px solid #cfcfcf;
}
.certificateText{
    width: 260px;
    margin-left: 50px;
    float: left;
    margin-top: 56px;
}
.storeListText{
    font-size: 24px;
    color: #575757;
    margin-left: 50px;
    letter-spacing: 2px;
}
.require{
    font-size: 18px;
    color: #cfcfcf;
}
.photoPass,.photoPassl{
    margin-left:85px;
    width: 180px;
    height: 120px;
    margin-top: 24px;
    border: 1px solid #bbbbbb;
    float: left;
}
.photoPassl{
    margin-left: 0px;
    text-align: left;
    letter-spacing: 3px;
    line-height: 40px;
}
.open{
    float: right;
    margin-right: 50px;
    margin-top: 54px;
}
.imgpass{
    border: none;
    background: transparent;
}
.ok{
    margin-top: 110px;
    margin-left: 50px;
    width: 650px;
    height: 80px;
    color: #ffffff;
    border: none;
    font-size: 24px;
    background: #ff2f2f;
    border-radius: 30px;
    letter-spacing: 3px;
}