html{font-size:62.5%;}
body{
    font-family:"迷你简准圆"!important;
    overflow-x: hidden;
    color: #ffffff;
}
a:hover,a:link,a:visited,a:active{text-decoration: none;}
/*font-size*/
.f60{font-size:60px;line-height:1;font-weight:bold;}
.f44{font-size:44px;line-height:1;}
.f30{font-size:30px;line-height:1;}
.f26{font-size:26px;line-height: 1;}
.f20{font-size:20px;font-family: "黑体";font-weight: bold;}
.f18{font-size:18px;}
.f16{font-size:16px;}
.f14{font-size:14px;}
.f12{font-size:12px;}
.line-height-15{line-height: 1.5;}
.line-height-1{line-height: 1;}

/*layout*/
.border-none{border:0!important;}
.pd-none{padding:0!important;}
.pd-horizontal-10{padding-left:10.1%!important;padding-right:10.1%!important;}
.text-center{text-align:center;margin:0 auto;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-justify{text-align: justify;}
.text-indent{text-indent: 20px;}
.text-ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*logo*/
@media (max-width:1200px){
    footer{padding-left:1%!important;padding-right:1%!important;}
}